In [1]:
#1list1=["white","Red","white","Green"]
#  Replace "white" with "purple"
list1 = ["white", "Red", "white", "Green"]
list1 = ["purple" if item == "white" else item for item in list1]
print(list1)

['purple', 'Red', 'purple', 'Green']

In [2]:
# Insert "Blue" on the 3rd index.
list1 = ["purple", "Red", "purple", "Green"]
list1.insert(2, "Blue")
print(list1)

['purple', 'Red', 'Blue', 'purple', 'Green']

In [3]:
# Extend list1 with the following list["Yellow","Violet"]
list1 = ["purple", "Red", "Blue", "purple", "Green"]
list1.extend(["Yellow", "Violet"])
print(list1)

['purple', 'Red', 'Blue', 'purple', 'Green', 'Yellow', 'Violet']

In [5]:
# Print the index number of "Green"
list1=["Purple","Red","Blue","Purple","Green","Yellow","Violet"]
print(list1.index("Green"))

4

In [6]:
# Remove Green from the list.
list1=["Purple","Red","Blue","Purple","Green","Yellow","Violet"]
list1.remove("Green")
print(list1)

['Purple', 'Red', 'Blue', 'Purple', 'Yellow', 'Violet']

In [7]:
S1={"Rahim","Karim","Isalm"}
S2={"Mobin","Islam","Mahfuj"}
# add "Foysal" on S1
S1.add("Foysal")
print(S1)

{'Karim', 'Isalm', 'Foysal', 'Rahim'}

In [8]:
# Remove "Mobin" from S2
S2.remove("Mobin")
print(S2)

{'Islam', 'Mahfuj'}

In [11]:
# Find out the Union of S1 and S2
S1 = {"Rahim", "Karim", "Isalm", "Foysal"}
S2 = {"Islam", "Mahfuj"}
S3 = S1|(S2)
print(S3)

{'Karim', 'Islam', 'Mahfuj', 'Rahim', 'Isalm', 'Foysal'}

In [25]:
# Find out the intersection of S1 and S2
S1 = {"Rahim", "Karim", "Isalm", "Foysal"}
S2 = {"Islam", "Mahfuj"}
S3 = S1.intersection(S2)
print(S3)

set()
set()

In [18]:
# Clear both S1 and S2 set.
S1 = {"Rahim", "Karim", "Isalm", "Foysal"}
S2 = {"Islam", "Mahfuj"}
S1.clear()
S2.clear()

In [21]:
# Take an integer input from the user. And print whether the integer is even or odd.
num = int(input("Enter an integer: "))
if num % 2 == 0:
    print(num, "is even")
num = int(input("Enter an integer: "))
if num % 2 == 0:
    print(num, "is even")
else:
    print(num, "is odd")

Enter an integer: 6
6 is even
Enter an integer: 22
22 is even

In [22]:
# Write a python Program that asks the user for their name and age and then print a message in the format.
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print(f"Hello, my name is {name}, and I am {age} years old.")

Enter your name: Sadia
Enter your age: 23
Hello, my name is Sadia, and I am 23 years old.